### IDE ###
.idea
.vscode

### composer ###
vendor
composer-dev.json
composer-dev.lock

### CS Fixer ###
.php-cs-fixer.cache

### Backup ###
*.bak

### PHP Unit ###
.phpunit.result.cache
phpunit
phpunit*.phar